/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/am33xx.h>

/ {

    // Helper to show loaded overlays under: /proc/device-tree/chosen/overlays/
    fragment@0 {
        target-path="/";
        __overlay__ {

            chosen {
                overlays {
                    KMHELLO = __TIMESTAMP__;
                };
            };
        };
    };

    fragment@1 {
        target-path="/";
        __overlay__ {
            kmhello {
                compatible = "kmhello";
                status = "okay";
                label = "test";
                my_value = <12>;
                test-gpio = <&gpio0 7 GPIO_ACTIVE_HIGH>;
            };
        };
    };

};
